---
import Social from './Social.astro';
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
    <p><a href="https://www.instagram.com/" target="_blank" title="Link a Instagram">instagram</a></p>
    <p><a href="https://www.x.com/" target="_blank">Twitter</a></p>
</footer>